// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@import "chartist/dist/scss/chartist.scss";
//colors

// Chart colors 1-5. More can be added, but will need to add selectors in pie chart section of this file
//Pie Chart By School
$BySchoolA: #e51837;
$BySchoolB: #00a9bc;
$BySchoolC: #ffcb00;
$BySchoolD: #8cc63f;
$BySchoolE: #4f4f4f;
//Pie Chart By Discipline
$ByDisciplineA: #037F3B;
$ByDisciplineB: #9E005D;
$ByDisciplineC: #F15A24;
$ByDisciplineD: #0073BA;
$ByDisciplineE: #4f4f4f;
// Bar chart colors
$UMBmodalBarA: rgba(26, 26, 26, 0.99) ;
$UMBmodalBarB: rgba(26, 26, 26, 0.85) ;
$UMBmodalBarC: rgba(26, 26, 26, 0.65) ;

// General colors
$UMBblack: #000;
$UMBwhite: #fff;
$UMBdkGrey: #1a1a1a;
$UMBltGrey: #4f4f4f;
$UMBgold: #ffe202;
$UMBred: rgba(229, 25, 55,1);
$modal_body: #4f4f4f;

@import "_chartist-settings.scss";
@import "type.scss";
@import "modal.scss";
@import "filters.scss";
@import "charts.scss";


//main container for front end
.container {
  background:url("http://134.192.116.210/node/SwcosClientMap/app/images/main-background-umb.png") center center repeat;
  border-radius: 4px;
  overflow:hidden;
  border: 1px solid $UMBdkGrey;
}

// wrapper for that fresh, rounded borders look
.colWrap {
	border-radius:4px;
	overflow:hidden;
	}

.angular-google-map-container {
  height: 832px;
  max-height:832px;
  border:1px solid #D8D6D6;

  }

.list-group-item {
  padding:10px 5px;
  padding-bottom:0px !important;
}

