// Chart colors 1-5. More can be added, but will need to add selectors in pie chart section of this file
//Pie Chart By School
$BySchoolA: #e51837;
$BySchoolB: #00a9bc;
$BySchoolC: #ffcb00;
$BySchoolD: #8cc63f;
$BySchoolE: #4f4f4f;
//Pie Chart By Discipline
$ByDisciplineA: #037F3B;
$ByDisciplineB: #9E005D;
$ByDisciplineC: #F15A24;
$ByDisciplineD: #0073BA;
$ByDisciplineE: #4f4f4f;
// Bar chart colors
$UMBmodalBarA: rgba(26, 26, 26, 0.99) ;
$UMBmodalBarB: rgba(26, 26, 26, 0.85) ;
$UMBmodalBarC: rgba(26, 26, 26, 0.65) ;

// General colors
$UMBblack: #000;
$UMBwhite: #fff;
$UMBdkGrey: #1a1a1a;
$UMBltGrey: #4f4f4f;
$UMBgold: #ffe202;
$UMBred: rgba(229, 25, 55,1);
$modal_body: #4f4f4f;