<!-- MODAL -->
<script type="text/ng-template" id="displaySiteData.html">
<div class="modal-body">
  <div class="row">
  <button class="btn btn-default swcos-close glyphicon glyphicon-remove" ng-click="ok()"></button>
    <div class="col-md-12">

      <div class="row">
        <!-- left side of modal -->
        <div class="col-md-5">
          <h1>{{site.Site}}</h1>
          <h4>{{site.CSA}}</h4>
          <p><strong>Affiliate Contact Name: </strong>{{site['Affiliate contact name']}}</p>
          <p><strong>Affiliate Contact Email: </strong>{{site['Affiliate contact email']}}</p>
          <p>{{site['Site Description']}}</p>
          <p ng-hide="site['Site Description']">No site description provided.</p>
          <h4>{{stud_sum}} University of Maryland Baltimore Student<span ng-hide="stud_sum == 1">s</span> Involved</h4>
          <div class="row">
            <!-- left pie -->
            <div class="col-md-6">
              <chartist class="ct-chart ct-golden-section" chartist-data="data" chartist-chart-type="Pie"></chartist>
              <h4>By School</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="label in dataOutLabels">
                  <span class="badge" ng-repeat="key in data.series">{{key}}</span>
                  {{label}}<!-- school-label -->
          

                </li>
              </ul>
            </div>
            <!-- right pie -->
            <div class="col-md-6">
              <chartist class="ct-chart ct-golden-section" chartist-data="dataDiscipline" chartist-chart-type="Pie"></chartist>
              <h4>By Discipline</h4>
              <div class="row">
                <div class="col-sm-12">
                  <p ng-repeat="label in dataDisciplineOutLabels"><span class="school-label"></span>{{label}}</p>
                </div>
                <div class="col-sm-1">
                  <p ng-repeat="key in dataDiscipline.series">{{key}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- middle spacer -->
        <div class="col-md-2">
        </div>
        <!-- right side of modal - bar charts -->
        <div class="col-md-5">
          <h1>What&#39s Happening In {{site.CSA}}</h1>
          <div class="bar-wrapper">
            <h4>Median Income</h4>
            <p class="description">Blurb goes here</p>
            <chartist class="ct-chart ct-golden-section" chartist-data="incomeData" chartist-events="" chartist-chart-type="Bar" chartist-chart-options="barOptions" chartist-responsive-options="barResponsiveOptions"></chartist>
          </div>
          <div class="bar-wrapper">
            <h4>School Absenteeism</h4>
            <p class="description">Blurb goes here</p>
            <chartist class="ct-chart ct-golden-section" chartist-data="schoolData" chartist-events="" chartist-chart-type="Bar" chartist-chart-options="barOptions" chartist-responsive-options="barResponsiveOptions"></chartist>
          </div>
          <div class="bar-wrapper bw-last">
            <h4>Life Expectancy</h4>
            <p class="description">Blurb goes here</p>
            <chartist class="ct-chart ct-golden-section" chartist-data="lifeData" chartist-events="" chartist-chart-type="Bar" chartist-chart-options="barOptions" chartist-responsive-options="barResponsiveOptions"></chartist>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</script>
<!-- END MODAL -->

<!-- MAP -->
<div class="container">
	<div class="row">
	<h2>University of Maryland Baltimore: Students Working in Baltimore</h2>
	</div>
  <div class="row">
	  
   
      
        <p class="sponsor">Interactive Map provided in thanks to a generous grant from the
        Joseph and Harvey Meyerhoff Family Charitable Funds and the Social Work Community Outreach Service (SWCOS)</p>
     
   

    <div class="col-md-9">
	  <div class="colWrap">  
      <div class="instructions">Click on a yellow marker within the map to display information about individual Sites</div>

      <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.mapOptions">

        <ui-gmap-markers models="siteMarkers" click="'displaySiteData'" coords="'self'" icon="'icon'">
        </ui-gmap-markers>

      </ui-gmap-google-map>
    </div>
    </div>

    <div class="col-md-3 col-sm-6">
	    <div class="colWrap">
      <p class="help-block">Filter By School</p>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="school in siteSchools">
          <div class="row">
            <div class="col-md-6" style="padding-top:2%;">
              <p>{{school}}<p>
            </div>
            <div class="col-md-6">
              <input id="{{school}}" class="school" type="checkbox" ng-click="toggleSchool(school)">
              <label class="school__label" for="{{school}}"></label>
            </div>
          </div>
        </li>
      </ul>
      </div>

	  	<div class="colWrap">
        <p class="help-block">Filter By Affiliate</p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="affiliate in siteAffiliates">
            <div class="row">
              <div class="col-md-6" style="padding-top:2%;">
                <p>{{affiliate}}</p>
              </div>
              <div class="col-md-6" style="padding-top:3%;">
                <input id="{{affiliate}}" class="school" type="checkbox" ng-click="toggleSchool(affiliate)" >
                <label id="test" class="school__label" for="{{affiliate}}"></label>
              </div>
            </div>
          </li>
        </ul>
	  	</div>
      </div>
  </div>
</div>
